# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

# VsCode files
.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

# Iginorando arquivos de log
/log_apache/
/log_postgresql/

# Iginorando arquivos do projeto
!/www/cnpjrfb/app/cnpj_full/banco/CNPJ_full.db
!/www/cnpjrfb/app/cnpj_full/graficos/readme.md
/www/cnpjrfb/app/CNPJ-full/
/www/cnpjrfb/tmp/
!/www/cnpjrfb/tmp/.htaccess
/www/cnpjrfb/tmp2/