# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

# VsCode files
.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

# Iginorando arquivos de log
/log_apache/
/log_postgresql/

#Arquivos da receita federal
!/dados_receita/output_files/download_files.sh
/dados_receita/output_files/
/dados_receita/output_files_bk/
!/dados_receita/extracted_files/readme.md
/dados_receita/extracted_files/

#Banco de dados
/postgresql/

# Iginorando arquivos do projeto
!/www/cnpjrfb/app/cnpj_full/banco/CNPJ_full.db
!/www/cnpjrfb/app/cnpj_full/graficos/readme.md
/www/cnpjrfb/app/CNPJ-full/
/www/cnpjrfb/tmp/
!/www/cnpjrfb/tmp/.htaccess
/www/cnpjrfb/tmp2/