<menu>
    <menuitem label='Principal'>
        <icon>fa:table fa-fw #f0db4f</icon>
        <menu>
            <menuitem label='empresa'>
                <icon>fa:table fa-fw</icon>
                <action>empresaForm</action>
            </menuitem>
            <menuitem label='estabelecimento'>
                <icon>fa:table fa-fw</icon>
                <action>estabelecimentoForm</action>
            </menuitem>
            <menuitem label='simples'>
                <icon>fa:table fa-fw</icon>
                <action>simplesForm</action>
            </menuitem>
            <menuitem label='socios'>
                <icon>fa:table fa-fw</icon>
                <action>sociosForm</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Tabelas Apoio'>
        <icon>fa:book fa-fw #f0db4f</icon>
        <menu>
            <menuitem label='cnae'>
                <icon>fa:book fa-fw</icon>
                <action>cnaeForm</action>
            </menuitem>
            <menuitem label='moti'>
                <icon>fa:book fa-fw</icon>
                <action>motiForm</action>
            </menuitem>
            <menuitem label='munic'>
                <icon>fa:book fa-fw</icon>
                <action>municForm</action>
            </menuitem>
            <menuitem label='natju'>
                <icon>fa:book fa-fw</icon>
                <action>natjuForm</action>
            </menuitem>
            <menuitem label='pais'>
                <icon>fa:book fa-fw</icon>
                <action>paisForm</action>
            </menuitem>
            <menuitem label='quals'>
                <icon>fa:book fa-fw</icon>
                <action>qualsForm</action>
            </menuitem>
        </menu>
    </menuitem>    
    <menuitem label='Facilitadores'>
        <icon>fa:magic fa-fw fa-fw #ffff00</icon>
        <menu>
            <menuitem label='Gera Grafo'>
                <icon>fa:magic fa-fw fa-fw #ffff00</icon>
                <action>GeraGrafoForm</action>
            </menuitem>                       
            <menuitem label='Painel SQL'>
                <icon>fas:database fa-fw red</icon>
                <action>SystemSQLPanel</action>
            </menuitem>            
            <menuitem label='Database explorer'>
                <icon>fas:database fa-fw red</icon>
                <action>SystemDatabaseExplorer</action>
            </menuitem>
        </menu>
    </menuitem>    
    <menuitem label='Ajuda'>
        <icon>fa:life-ring fa-fw #0066cc</icon>
        <menu>
            <menuitem label='Ajuda'>
                <icon>fa:life-ring fa-fw #0066cc</icon>
                <action>AjudaView</action>
            </menuitem>      
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>