<menu>
    <menuitem label='Tabelas'>
        <icon>fa:table fa-fw #f0db4f</icon>
        <menu>
            <menuitem label='Empresa'>
                <icon>fas:building #7C93CF</icon>
                <action>EmpresaList</action>
            </menuitem>
            <menuitem label='Estabelecimento'>
                <icon>fas:building #7C93CF</icon>
                <action>EstabelecimentoList</action>
            </menuitem>
            <menuitem label='Simples'>
                <icon>fas:building #7C93CF</icon>
                <action>SimplesList</action>
            </menuitem>
            <menuitem label='Sócio da Empresa'>
                <icon>fa:user green</icon>
                <action>SociosList</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Tabelas Apoio'>
        <icon>fa:book fa-fw #f0db4f</icon>
        <menu>
            <menuitem label='Lista de CNAE'>
                <icon>fa:book fa-fw</icon>
                <action>CnaeList</action>
            </menuitem>
            <menuitem label='Motivo'>
                <icon>fa:book fa-fw</icon>
                <action>MotiList</action>
            </menuitem>
            <menuitem label='Município'>
                <icon>fa:book fa-fw</icon>
                <action>MunicHeaderList</action>
            </menuitem>
            <menuitem label='Natureza jurídica'>
                <icon>fa:book fa-fw</icon>
                <action>NatjuList</action>
            </menuitem>
            <menuitem label='País'>
                <icon>fa:book fa-fw</icon>
                <action>PaisList</action>
            </menuitem>
            <menuitem label='Qualificação'>
                <icon>fa:book fa-fw</icon>
                <action>QualsList</action>
            </menuitem>
        </menu>
    </menuitem>    
    <menuitem label='Facilitadores'>
        <icon>fa:magic fa-fw fa-fw #ffff00</icon>
        <menu>                       
            <menuitem label='Painel SQL'>
                <icon>fas:database fa-fw red</icon>
                <action>SystemSQLPanel</action>
            </menuitem>            
            <menuitem label='Database explorer'>
                <icon>fas:database fa-fw red</icon>
                <action>SystemDatabaseExplorer</action>
            </menuitem>
        </menu>
    </menuitem>    
    <menuitem label='Ajuda'>
        <icon>fa:life-ring fa-fw #0066cc</icon>
        <menu>
            <menuitem label='Ajuda'>
                <icon>fa:life-ring fa-fw #0066cc</icon>
                <action>AjudaView</action>
            </menuitem>      
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>