
    <!-- Third part libraries required by Adianti Framework -->
    <script src="lib/jquery/js/jquery.min.js?afver=730" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js?afver=730"></script>
    <script src="lib/bootstrap/js/bootstrap-plugins.min.js?afver=730" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js?afver=730" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datetimepicker.pt.js?afver=730" type="text/javascript"></script>
    <script src="lib/bootstrap/js/lang/summernote-pt-BR.min.js?afver=730" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-ui.min.js?afver=730" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-plugins.min.js?afver=730" type="text/javascript"></script>
    <script src="lib/jquery/js/select2_locale_pt.js?afver=730" type="text/javascript"></script>
    <script src="lib/independent/js/independent-plugins.min.js?afver=730" type="text/javascript"></script>
    <script src="lib/independent/js/fullcalendar-pt.js?afver=730" type="text/javascript"></script>
    
    <!-- Adianti Framework core and components -->
    <script src="lib/adianti/include/adianti.min.js?afver=730" type="text/javascript"></script>
    <script src="lib/adianti/include/components.min.js?afver=730" type="text/javascript"></script>
    
    <!-- Application custom Javascript (Optional) -->
    <script src="app/lib/include/application.js?appver=730" type="text/javascript"></script>
    
    <!-- Third part CSS required by Adianti Framework -->
    <link href="lib/jquery/css/jquery-ui.min.css?afver=730" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/jquery/css/jquery-plugins.min.css?afver=730" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/bootstrap.min.css?afver=730" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/boostrap-plugins.min.css?afver=730" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/independent/css/independent-plugins.min.css?afver=730" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Adianti Framework Components CSS -->
    <link href="lib/adianti/include/adianti.min.css?afver=730" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/adianti/include/components.min.css?afver=730" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Application custom CSS -->
    <link href="app/templates/{template}/application.css?appver=730" rel="stylesheet" type="text/css" media="screen">
