<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="app/templates/{template}/img/favicon.png"/>
    <title>{head_title}</title>
    <link rel="manifest" href="manifest.json?appver=722">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    {LIBRARIES}
    {HEAD}
    
    <script src="app/lib/include/admin-all.min.js?appver=722" type="text/javascript"></script>
    <link href="app/lib/include/admin.min.css?appver=722" rel="stylesheet" type="text/css" media="screen">

    <link href="app/templates/{template}/css/AdminLTE.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="app/templates/{template}/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="app/templates/{template}/css/fonts/MaterialIcons/material-icons.css" rel="stylesheet">

    <link href="app/templates/{template}/css/formdin5.css" rel="stylesheet">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">

    <header>
      <div id="app_header_logo">
          <a href="{login-link}" target=”_blank”><img src="app/templates/{template}/img/formdin_logo_small.png"></a>
      </div>
      <div id="app_header_title">
          <div id="app_header_title_main">
            {system_name}
          </div>
          <div id="app_header_subtitle">
            {system_name_sub}
          </div>
      </div>
      <div id="app_header_login">
          {login}<br>
      </div>
    </header>

    <div class="wrapper">

      <div class="main-header">
        <!-- Logo -->
        <a href="{logo-link-class}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini layout-logo-mini">{logo-mini}</span>
          <!--<img src="app/images/favicon-32x32.png" class="logo-mini layout-logo-mini" alt="{head_title}" />-->
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg layout-logo">{logo-lg}</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </nav>
      </div>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- search form -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
          <li class="header">MENU</li>
          </ul>
          {MENU}
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div id="adianti_div_content">
            </div>
        </section><!-- /.content -->
        
        <div id="adianti_online_content"></div>
        <div id="adianti_online_content2"></div>
        
        <div id="adianti_right_panel" class="right-panel"></div>
        
        <!--
        <a id="view-source" class="float-button" title="View source code" generator="adianti-docs" href="index.php?class=DocumentationView&classname={class}&method=onHelp">
          <i class="fa fa-code internal-float-button"></i>
        </a>
        -->

      </div><!-- /.content-wrapper -->
      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <footer>
      <div id="app_footer_message"><b>Show Me the code</b> {system_version}</div>
      <div id="app_footer_company"></div>
      <div id="app_footer_module">        
      </div>
    </footer>    

    <!-- AdminLTE App -->
    <script src="app/templates/{template}/js/app.min.js"></script>
    <script src="app/templates/{template}/js/custom.js"></script>
  </body>
</html>
